/*CSS RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*UNIVERSAL*/
body {
	font-family: 'Source Code Pro', sans-serif;
}

/*NAV*/

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	background-color: black;
	height: 70px;
	padding: 0 5%;
}

nav .logo {
	float: left;
	align-items: center;
	width: 40%;
	height: 100%;
	display: flex;
	color: white;
	padding-left: 15%;
}

nav .links {
	float: right;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-around;
	width: 50%;
	height: 100%;
	align-items: center;
}

nav .links li {
	list-style: none;
}

.slash {
	color: #006d77;
}


nav .links a {
	color: white;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

nav .links a:hover {
	display: block;
	color: yellow;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 5px;
	border-radius: 3px;
}
/*END OF NAV*/
/*Main*/




/*RESPONSIVE*/

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
		padding-left: 0;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		background-color: grey;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: rgba(0, 0, 0, .8);
		overflow: hidden;
		transition: all	.5s ease-in-out;
	}
	
	nav .icon-burger {
		display: block;
	}

	nav .links a {
		font-size: 20px;
	}

	nav :checked ~ .links {
		bottom: 0;
	}

	container-fluid .image {
		padding-left: 200px;
	}

}


/*End of Responsive*/


.container-fluid .about-me {
	margin-top: 1rem !important;

}



/*End of Effect*/


/*BOOTSTRAP CSS CODE*/

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

.body {
	background-color: rgba(0, 0, 0, .2);
}

.bg-project {
	background-color: rgba(0, 0, 0, .5);
}

.bg-image {
  background-image: url(./image/background.jpg);
  background-repeat : no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  background-attachment: scroll;
  margin-top: 70px;
  min-height: 50vh;
  color: white;
}

.contact {
	background-color: #001219;
	color: white;
	padding-left: 50px;
	padding-top: 10%;
	padding-bottom: 5%;
}


/*Social Media CSS*/



/*End of Sidebar*/

button {
	position: fixed;
  	top: 90%;
  	left: 95%;
  	z-index: 10;
  	float: right;
  	flex-direction: column;
  	padding: 10px;

}

button a {
	text-decoration: none;
  	color: black;
}





/*FOOTER*/





footer {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}



